@model HorseRacing.Models.Race

@{
    ViewBag.Title = "Race";
}

<div class="card text-white bg-success mb-3" style="margin-top:2em;">
    <div class="card-header">Green Meadows</div>
    <div class="card-body">
        <div class="race-track">
            @for (int i = 0; i < Model.Entrants.Count; i++)
            {
                <div class="horse-holder" data-race="@Model.Entrants[i].RaceTime" data-number="@Model.Entrants[i].Number">
                    <img class="horse" src="~/Content/Images/racehorse.png" width="25" />
                    <p class="small">@Model.Entrants[i].Horse.Name</p>
                </div>
            }
        </div>
    </div>
</div>

<div class="card text-white bg-secondary mb-3" style="margin-top:2em;">
    <div class="card-header">Race Results</div>
    <div class="card-body">
        <div id="race-preparation">
            <p id="race-text">Race preparing</p>
        </div>

        @{ Model.Entrants = Model.Entrants.OrderBy(x => x.RaceTime).ToList();}
        @for (int i = 0; i < Model.Entrants.Count; i++)
            {
            <div class="row entrant-line small" id="entrant-@Model.Entrants[i].Number" style="display:none;margin-bottom:2em;" data-race="@Model.Entrants[i].RaceTime">
                <div class="col">
                    <strong>@Html.DisplayFor(model => Model.Entrants[i].Number)</strong> @Html.DisplayFor(model => Model.Entrants[i].Horse.Name)
                    @if (Model.Entrants[i].Selected)
                    {
                        @: - <span class="badge badge-info">Your horse</span>
                    }
                </div>
            </div>
        }

        <div class="row" id="race-finish" style="display:none">
            <div class="col-md-6">
                @if (Model.IsWin)
                {
                    <div class="alert alert-success">
                        <strong>You Win!</strong> Returns - £@Model.Returns
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        <strong>You Lose!</strong>
                    </div>
                }
            </div>

            <div class="col-md-12">
                <button onclick="location.href='@Url.Action("Index")'" type="button" class="btn btn-primary btn-lg">Next Race</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            setTimeout(function () {
                $('#race-text').html('3');
                setTimeout(function () {
                    $('#race-text').html('2');
                    setTimeout(function () {
                        $('#race-text').html('1');
                        setTimeout(function () {
                            $('#race-text').html('They\'re Off!!');
                            setTimeout(function () {
                                race();
                            }, 1000)
                        }, 1000)
                    }, 1000)
                }, 1000)
            }, 1000)
        });

        var elapsed = 0;
        var horses = @Model.Entrants.Count;
        var finished = 0;
        var header = false;

        function race() {
            var distance = ($('.race-track').width() -64) + 'px';

            $('.horse-holder').each(function () {
                var entrant = $(this).data('number');
                var duration = $(this).data('race') * 1000;

                $(this).animate({ left: distance }, {
                    duration: duration,
                    queue: false,
                    easing: 'easeInQuad',
                    complete: function () {

                        if (!header) {
                            $('#race-preparation').hide();
                            $('#race-results').fadeIn(1000);
                            header = true;
                        }

                        $('#entrant-' + entrant).fadeIn(1000);
                        finished = finished + 1;

                        if (horses == finished) {
                            $('#race-finish').fadeIn();
                        }
                    }
                });
            });
        }
    </script>
}

